<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/product.css">
</head>

<style>
.yes {
  width: 300px;
  float: left;
  border: 2px solid black;
  padding: 50px;
  margin: 20px;
}
.no{
    width: 200px;
}
</style>

<body>

<%- include('../includes/navigation.ejs') %>
<main>

<form action= "http://localhost:3000/friends" method = "POST">
<label for="title"> Username </label>
<input type="text" placeholder = "Search user.." name="username" id="username" value="<% if (editing) { %><%= username %><% } %>">

<button class="btn" type="submit"><% onclick="http://localhost:3000/friends" %>  </button>
</form>

<br>
<br>
&emsp;

<% for(var i=0; i < data.length; i++) { %>
  <form action= "http://localhost:3000/friends" method = "POST">
    <div class = "yes">
      <h2 id="something"><%= data[i].get('username') %> </h2>
      <h2 id="something"><%= data[i].get('name') %> </h2>
      <input type="hidden" name="signal" value=1>
      <input type="hidden" name="friend" value=  "<%= data[i].get('username') %>"  >
      <button class="btn" type="submit" onclick="http://localhost:3000/friends"> Recommend </button>
    </form>
    </div>
<% } %>


</main>

<%- include('../includes/end.ejs') %>